body {
    background: rgba(232, 236, 240, 0.25);
}

.background {
    background-color: #2196f3
}

.background:after {
    content: "";
    position: absolute;
    border-bottom: 200px solid #ffff;
    display: block;
    width: 100%;
    z-index: 1;
    bottom: 0;
    left: 0;
    border-left: 2200px transparent solid;
}

.background:before {
    content: "";
    position: absolute;
    border-top: 200px solid #ffff;
    display: block;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    border-right: 2200px transparent solid;
}

.phonex {
    margin: 80px auto;
    position: relative;
}

.phonex > iframe {
    overflow-y: auto;
    border: 0;
    margin: 0 auto;
    border: 2px solid #000000;
    height: 812px;
    width: 375px;
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    border-radius: 37px;
    z-index: 1;
}

.phoneximg {
    position: relative;
    z-index: 0;
    top: 0;
    left: 0;
    width: auto !important;
    right: 0;
    margin: 0 auto;
}

.phonextop {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 25px;
    width: auto;
    z-index: 3;
}